# Node / JavaScript dependencies
node_modules/
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
lerna-debug.log*

# Build artefacts
/dist/
*.log

# macOS / IDE noise
.DS_Store
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
